*{
    color:white;
    margin:0;
    padding:0;
    list-style: none;
    transition: all 0.3s ease-in-out;
    font-weight: 400;
    
}

@keyframes firstroad {
    0% {
        transform: scale( 1.0 );
    }
    30%{
        transform: scale( 1.2 );
        opacity: 1;
    }
    70% {
        transform: scale( 0.9 );
        opacity: 0.2;
    }
    100%{
        transform: scale(1.0);
    }
}

@keyframes secondroad {

    0% {
        transform: scale( 0.7 );
        opacity: 0.2;
    }
    100%{
        transform: scale(1.0);
        opacity: 1;
    }
}

@keyframes thirdroad{
    0% {
        transform: scaleX(0.1);
        opacity: 0.05;
    }
    15%{
        transform: scaleX(0.2);
        opacity: 0.1;
    }
    
    20%{
        transform: scaleX(0.2);
        opacity: 0.1;
    }

    50%{
        transform: scaleX(0.2);
        opacity: 0.2;
    }

    95%{
        transform: scaleX(0.9.5);
        opacity: 1;
    }
    100%{
        transform: scaleX(1);
        opacity: 0.5;
    }
}






body{
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 300;
    font-family: 'poppins', sans-serif;
    text-align: center;
}

#wrapper{
    width: 100%;
    height: 100vh;
}

#wrapper header{
    width: 95%;
    height: 17vh;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
}


header #log_outt {
    margin: 3vh 0vh auto;
}
    #log_outt .log_out_button_style{
        border: 0;
        line-height: 2.5;
        padding: 0 2vh;
        font-size: 2vh;
        text-align: center;
        color: #fff;
        border-radius: 1vh;
        background-color: black;
        background-color:rgba( 255, 255, 255, 0.5 );
    }

    #log_outt .log_out_button_style:hover{
        font-size: 2.5vh;
    }
header #weather{
    margin: 3vh 0vh auto;
}

header #weather span{
    position: relative;
    bottom:0.2vh;
    font-size: 2vh;
    }

    header #weather .degree{
        font-size: 4vh;
        position: relative;
        bottom: 1.8vh;}

    
    header #weather img{
        width:7vh;
        height:7vh;
    }
    
    
    header #weather #weather_Description{
        font-size: 2vh;
        color:black;
        font-weight: 600;
        text-align: center;
        border-radius: 7px;
        background-color:rgba( 255, 255, 255, 0.5 );
    }
    

#wrapper main{
        width: 100%;
        height: 47vh;
        flex-direction: column;
}
main #welcomeBanner {
    display: block;
    font-size:9vh;
    font-weight: 400;
    animation: firstroad 2s ease-in-out;
}

main #welcomeBanner:hover {
    font-size: 11vh;
}

main #welcomePage_form {
    position: relative;
    top: 18px;
}

#welcomePage_form #welcomePager_input{
    width: 30vh;
    height: 5vh;
    font-size: 3.5vh;
    text-align: center;
    color: white;
    border: none;
    border-bottom: 0.1vh solid #fff;
    background: transparent;
    opacity: 0.7;
}

#welcomePage_form #welcomePager_input::placeholder{
    color: white;
}

#welcomePage_form #welcomePager_input:hover {
    width: 40vh;
    height: 7vh;
    font-size: 4.5vh;
    opacity: 1;
}

#welcomePage_form #welcomePager_input:focus {
    outline: none;
}

main #loginBt{
    position: relative;
    top:11px;
}

#loginBt button {
    animation: 0.02s easy ease-in-out;
    line-height: 2;
    padding: 0 2vh;
    font-size: 2.8vh;
    text-align: center;
    color: #fff;
    border-radius: 1vh;
    border: none;
    background-color: black;
    background-color:rgba( 255, 255, 255, 0.5 );
    transition: all 1 ease-in-out;

}

#loginBt button:hover {
        font-size: 3.2vh;
        padding: 0 3vh;
    }

main{
    display: flex;
    justify-content: center;
    align-items:center;
   

}

#searchForm{
    height: 8vh;
    width: 90vh;
}

.searchInput{
    height: 8vh;
    width: 90vh;
    border-radius: 4vh;
    opacity: 0.5;
    border-style: none;
    text-align: left;
    color: rgb(55, 53, 56);
    font-size: 4vh;
    padding-left: 4vh;
    caret-color: rgb(109, 107, 110);
    font-weight:700;
    font-size: 3vh;
    animation: thirdroad 1.3s;

}

.searchInput:hover{
    scale:110%;
    opacity: 0.8;
}

.searchInput:focus{
    outline: none;
    scale:110%;
    opacity: 0.8;
}

#clock_div{
    height: 22vh;
}

#clock_div:hover{
    opacity: 0.7;
}

#clock{
    font-size: 14vh;
    opacity: 0.9;
    animation: secondroad 1s ease-in-out;
}


#date{
    position: relative;
    bottom: 8%;
    font-size: 5vh;
    opacity: 0.9;
    animation: secondroad 1s ease-in-out;
    padding-bottom: 2vh;
}

#music {
    flex-wrap: wrap;
    overflow: hidden;
    margin: 3vh 0vh auto;
  }
#music #player {
display:none;
  }

  
#music img {
    filter: var(--filter-seashell);
    cursor: pointer;
    transition: all 0.5s linear;
    height: 3.5vh;
    margin-top: 1vh;
    margin-right: 1.5vh;
  }
#music img:hover {
    transform: scale(1.1);
  }
#music span {
    display: block;
    flex-basis: 100%;
    font-size: 1vh;
    text-align: left;
    margin-left: 10px;
  }



#greetingg_div{
    padding-top: 5vh;
    padding-bottom: 1vh;

}

#greetingg{
    animation: secondroad 1s ease-in-out;
    font-size: 3vh;
    opacity: 0.8;
}

#greetingg:hover{
    font-size: 3.5vh;
    opacity: 1;
}


main #to_Do_input{
    animation: secondroad 1s ease-in-out;
    width: 20vh;
    height: 5vh;
    font-size: 3vh;
    text-align: center;
    color: white;
    border: none;
    border-bottom: 0.1vh solid #fff;
    background: transparent;
    opacity: 0.7;	
}

main #to_Do_input:hover{
    width: 23vh;
    height: 6vh;
    font-size: 3.5vh;
    opacity: 1;	
}

main #to_Do_input::placeholder{
    color: white;
}

main #to_Do_input:focus{
    outline: none;
}

.todo_area{
    position: relative;
    width: 100%;
    height: 0vh;
}

.todo_area ul{
    list-style: none;
    animation: secondroad 1s ease-in-out;
    position: relative;
    top:1%;
}

.todo_area li {
    padding-bottom: 1.5vh; 
}

.todo_area text {
    font-size: 2.6vh;
}


.todo_area text:hover {
    opacity: 1;
    font-size: 3.3vh;
  }
  

    
.hidden{
    display:none;
}


/* The container */
.container {
    position: relative;
    padding-left: 3.5vh;
    margin-bottom: 1.2vh;
    cursor: pointer;
    font-size: 2.2vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
      display: inline-block;
      width: 2vh;
      height: 2vh;
      border:0.3vh solid white;
      position: relative;
      border-radius: 0.5vh;
      opacity:0.4;
      bottom: -0.3vh;
  }
  
  .checkmark:hover {
    width: 2.4vh;
    height: 2.4vh;
    opacity:1;
  }


  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  

  .container .checkmark:after {
    left: 0.3vh;
    top: -1.2vh;
    width: 1vh;
    height: 2vh;
    border: solid white;
    border-width: 0 0.3vh 0.3vh 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);}

    li > .Xmark {

        font-size: 2.1vh;
        opacity: 0.6;
 

    }

    li> .Xmark:hover {
        font-size: 2.5vh;
        opacity: 1;



    }

    label {
        padding:1vh;
        text-align: right;
        color: #ccc;
    }

   
    input[type=checkbox]:checked + label.strikethrough{
        text-decoration: line-through;
      }




    #wrapper footer{
        width: 100%;
        position: absolute;
        animation: secondroad 1s ease-in-out;
        bottom: 2%;
    }

    footer #quotes{
        font-size: 2vh;
        opacity: 0.6;
    }
    footer #quotes:hover{
        opacity: 1;
    }


    .cancel {
        text-decoration : line-through;
        text-decoration-style: solid;
        color:white;
        opacity: none;
    }
